/* css reset*/


/* for buttons */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* removes spinner buttons */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    src: local('Gudea'), url(fonts/gudea/Gudea.woff2) format('woff2'), url(fonts/gudea/Gudea.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 700;
    src: local('Gudea Bold'), local('Gudea-Bold'), url(fonts/gudea/Gudea-Bold.woff2) format('woff2'), url(fonts/gudea/Gudea-Bold.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,
body {
    height: 100%;
    margin: 0;
}

body,
input {
    font-size: 16px;
    font-family: 'Gudea', sans-serif;
}

#spacertop {
    height: 35%;
}

input {
    border-radius: 0;
}

header {
    overflow: auto;
}


/* fix for FF Android background for inputs */

button,
input,
select {
    background-image: none;
}

.hidden {
    display: none;
}

#load {
    font-family: 'nsvb-symbol';
}

.login-input {
    font-size: 16px;
    border: none;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 2px;
}

.login-label {
    padding: 5px;
}

#logincontainer {
    background-color: #4bb1ff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#login {
    margin: 0 auto;
    font-family: sans-serif;
}

#loginformcontainer {
    margin-left: 25px;
    margin-right: 25px;
}

#loginbutton {
    background-color: white;
    border: 2px solid #3388ff;
    padding: 5px 10px;
    cursor: pointer;
    color: #114480;
    font-size: 16px;
    border-radius: 3px;
}

#loginbutton:hover {
    background-color: #3388ff;
    color: white;
    border: 2px solid #0066ff;
}

#submitBtn,
#submitBtn:hover {
    border: none;
    background: none;
    color: #114480;
    font-size: 16px;
    cursor: pointer;
}

.bar {
    background-color: #4bb1ff;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.bar-element {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 3px 8px;
    margin-right: 5px;
    min-width: 25px;
    text-align: center;
    border: 1px solid #666666;
    line-height: 23px;
}

.bar-element:last-child {
    margin-right: 0;
}

.bar-element:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.spacer {
    flex-grow: 1;
}

.merge-start {
    border-radius: 5px 0 0 5px;
    margin-right: 0;
    border-right: none;
}

.merge-end {
    border-radius: 0 5px 5px 0;
}

.active {
    background-color: #aaaaaa;
}

.active:hover {
    background-color: #aaaaaa;
}

#month {
    width: 15ch;
}

#month-overview {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 250px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #666666;
    overflow-y: scroll;
    cursor: auto;
    text-align: left;
    animation: open 1s;
    -webkit-animation: open 1s;
}

@-webkit-keyframes open {
    0% {
        width: 60px;
        height: 120px;
        opacity: 0;
    }
    100% {
        width: 250px;
        height: 500px;
        opacity: 1;
    }
}

@keyframes open {
    0% {
        width: 60px;
        height: 120px;
        opacity: 0;
    }
    100% {
        width: 250px;
        height: 500px;
        opacity: 1;
    }
}

.error-login {
    background-color: #FF6964;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.new {
    animation: fadeout 3s;
}

@keyframes fadeout {
    0% {
        background-color: green;
    }
    33% {
        background-color: green;
    }
    100% {
        background-color: none
    }
}

.remove,
.edit,
.cancel,
.update {
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    /* remove? */
}

.change {
    display: inline-block;
    border: 1px solid transparent;
    /* remove? */
}

.edit {
    display: none;
}

.update:hover {
    color: #8fff00;
}

.remove:hover,
.cancel:hover {
    color: #D40000;
}

.edit:hover {
    color: #4BB1FF;
}

content {
    border: 0 none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    flex-shrink: 0;
}

#section-ausgabe {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
}

#ausgabenliste {
    overflow-y: scroll;
    flex-grow: 1;
}

.ausgabe {
    -webkit-transition: height 1.5s ease;
    transition: max-height 1.5s ease, opacity 1.5s linear;
    max-height: 50px;
}

.remove-animation {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
}

#einnahmen {}

.clear {
    clear: both;
}

.error {
    position: absolute;
    background-color: #FFD036;
    bottom: 40px;
    text-align: center;
    padding: 5px;
}

.remove {
    cursor: pointer;
}

.th {
    font-weight: bold;
    border-bottom: 2px solid darkgray;
    flex-shrink: 0;
}

.tr {
    border-bottom: 1px solid darkgray;
}

.tr,
.th {
    display: flex;
}

.tr-edit {
    background-color: #5bc1ff;
    color: white;
}

.td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 21px;
}

.td-art {
    flex-grow: 1;
}

.td input {
    border: none;
    padding: 0;
    width: 100%;
}

.tr-edit input {
    background-color: #5bc1ff;
    color: white;
    width: calc(100% - 4px);
    border: 1px solid white;
    padding: 0 1px 2px 1px;
    line-height: 21px;
}

.tr-edit > .td {
    padding: 4px 0 4px 3px;
}

.td input.preis {
    flex: auto;
}

.preis {
    text-align: right;
}

.plus {
    cursor: pointer;
}

.plus:hover {
    color: #4bb1ff;
}

#plusbutton {
    background: transparent none repeat scroll 0px 0px;
    border-spacing: 0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: outside none none;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    margin: 0px;
    padding: 0px;
    border: medium none;
}

.td-datum {
    width: 9ch;
    flex-shrink: 0;
}

.tr-edit > .td-datum {
    width: calc(9ch + 2px);
}

.td-kategorie {
    width: 7ch;
    flex-shrink: 0;
}

.tr-edit > .td-kategorie {
    width: calc(7ch + 2px);
}

.td-preis {
    width: 7ch;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

.td-preis > span{
    flex: none;
}

.tr-edit > .td-preis {
    text-align: left;
    width: calc(7ch + 2px);
}

.tr-edit > .td-preis > input {
    border-right: none;
    text-align: right;
    width: calc(100% - 1.6ch - 4px);
}

.tr-edit > .td-preis > .input-suffix {
    border: 1px solid white;
    border-left: none;
    line-height: 21px;
    padding-bottom: 2px;
    width: calc(1.6ch - 1px);
    padding-right: 1px;
    display: inline-block;
    text-align: right;
}

.td-beschreibung {
    width: 0;
    display: none;
    flex-shrink: 0;
}

.td-optionen {
    width: 30px;
    flex-shrink: 0;
}

#input-form {
    border-top: 2px solid darkgray;
}

.loading {
    vertical-align: middle;
    text-align: center;
}

#previous-month,
#next-month {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.error:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFD036 transparent transparent transparent;
    top: 29px;
    left: 15px;
}

#overlay {
    display: none;
    background-color: #4BB1FF;
    min-height: 100%;
    /* TODO: optimize, maybe scroll select list */
}

#overlay-close {
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    border: 1px solid #666666;
    min-width: 20px;
}

#overlay-close:hover {
    cursor: pointer;
}

#overlay-content {
    padding: 0 5px 5px 5px;
}

#select {
    display: none;
}

#details:hover {
    text-decoration: underline;
    cursor: pointer;
}

#stats-wrapper {
    /*display: table;*/
    /*table doesn't resize smaller*/
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    clear: right;
}

#details {
    float: right;
}

.chart {
    width: 100%;
    min-height: 500px;
}

#chart-category-select {
    display: inline-block;
}

#empty {
    color: lightgray;
}

.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

.preload-symbol {
    font-family: 'nsvb-symbol';
}

@media (min-width:400px) {
    #login {
        max-width: 360px;
    }
    .td-kategorie {
        width: 10ch;
    }
    .tr-edit > .td-kategorie {
        width: calc(10ch + 2px);
    }
}

@media (min-width:600px) {
    .edit {
        display: inline-block;
    }
    .td-optionen {
        width: 50px;
    }
}

@media (max-width: 699px) {
    #input-datum{
        display: none;
    }
    #opendatepicker{
        display: none !important;
    }
}

@media (min-width:700px) {
    body {
        min-width: 700px;
    }
    .td-datum {
        display: flex;
        width: 11ch;
        position: relative;
    }
    .tr-edit > .td-datum {
        width: calc(11ch + 2px);
    }
    #input-datum {
        flex: auto;
    }
    #datepicker{
        z-index: -1;
        position: absolute;
        width: 1px;
        padding: 0px;
        border: 0px;
        background: none;
        color: transparent;
        outline: none;
    }
    #opendatepicker{
        cursor: pointer;
        display: none;
    }
    .td-beschreibung {
        width: 150px;
        display: inherit;
    }
    .tr-edit > .td-beschreibung {
        width: calc(150px + 2px);
    }
    .td-kategorie {
        width: 15ch;
    }
    .tr-edit > .td-kategorie {
        width: calc(15ch + 2px);
    }
    .td-preis {
        width: 10ch;
    }
    .tr-edit > .td-preis {
        text-align: left;
        width: calc(10ch + 2px);
    }
    #month {
        width: 20ch;
    }
    #select-mobile {
        display: none;
    }
    #select {
        display: block;
        width: 201px;
        margin: 10px 0;
        /*margin-right: 20px;*/
    }
    .select-element {
        padding: 10px;
        border: 1px solid transparent;
        border-right: none;
    }
    .select-element:hover {
        cursor: pointer;
        border: 1px solid #666666;
        border-right: none;
        border-radius: 5px 0 0 5px;
        background-color: #4BB1FF;
    }
    .select-element.year {
        text-decoration: underline;
        font-weight: bold;
    }
    .select-element.active {
        /*background-color: #4BB1FF;*/
        border: 1px solid #666666;
        border-right: none;
        border-radius: 5px 0 0 5px;
        background-color: white;
    }
    #stats-wrapper {
        display: block;
        margin-left: 200px;
        padding: 10px 15px;
        width: auto;
    }
}
