html, body{
    height: 100%;
    margin: 0;
}

body{
    min-width: 600px;
}

#spacertop{
    height: 40%;
}

input{
    border-radius: 0;
}

header{
    overflow: auto;
}

.remove:hover{
    color: #D40000;
}

/* fix for FF Android background for inputs */
button, input, select {
    background-image: none;
}

#logincontainer{
    background-color: #4bb1ff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#login{
    margin: 0 auto;
    max-width: 305px;
    font-family: sans-serif;
}

#loginformcontainer{
    margin-left: 5px;
}

#submit{
    background-color: white;
    border: 2px solid #3388ff;
    padding: 3px 10px;
    font-weight: bold;
    cursor: pointer;
    color: #114480;
}

#submit:hover{
    background-color:#3388ff;
    color: white;
    border: 2px solid #0066ff;
}

.bar{
    background-color: #4bb1ff;   
    padding: 5px;
}

.bar-element{
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
    min-width: 30px;
    text-align: center;
    border: 1px solid #666666;
}

.bar-element:last-child{
    margin-right: 0;
}

.bar-element:hover{
    cursor: pointer;
}

#month{
    width: 20ch;
}

#spendings{
    position: relative;
}

#month-overview{
    position:absolute;
    top:-1px;
    right:-1px;
    width:250px;
    height:500px;
    background-color:white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #666666;
    overflow-y: scroll;
    cursor: auto;
    text-align: left;
    animation: open 1s;
    -webkit-animation: open 1s;
}

@-webkit-keyframes open{
    0% {
        width: 60px;
        height: 120px;
        opacity: 0;
    }
    100% {
        width:250px;
        height:500px;
        opacity: 1;    
    }
}

@keyframes open{
    0% {
        width: 60px;
        height: 120px;
        opacity: 0;
    }
    100% {
        width:250px;
        height:500px;
        opacity: 1;    
    }

}

.error-login{
    background-color: #ff2222;
    padding: 5px;
    margin-bottom: 5px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.new{
    animation: fadeout 3s;
}

@keyframes fadeout{
    0% {background-color: green;}
    33% {background-color: green;}
    100% {background-color: none}
}

.remove, .edit, .cancel, .update{
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    margin-left: 5px;
}
.edit:hover, .cancel:hover, .update:hover{
    border: 1px solid black;
}


content{
    border: 0 none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}
#ausgaben{
    overflow-y: auto;
}
#ausgabenliste{

}
#einnahmen{

}
.clear{
    clear: both;
}
.error{
    position: absolute;
    background-color: #FFD036;
    bottom: 40px;
    text-align: center;
    padding: 5px;
}
.remove{
    cursor: pointer;
}

.table {
    display:table;
    width: 100%;
    table-layout: fixed;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
    vertical-align: top;
    border-top: 1px solid darkgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.td textarea{
    height: 1.2em;
    margin: 0;
    padding: 1px 0;
}
.td textarea, .td input{
    border: none;
    width: 100%;
}

.td input.preis{
    width: 80%;
}
.th{
    font-weight: bold;
}
.th .td{
    border-bottom: 1px solid darkgray;
}
.tr:first-child{
    border: none;
}
.preis{
    text-align: right;
}
.plus{
    cursor: pointer;
}

.plus:hover{
    color: #4bb1ff;
}

.td-datum{
    width: 10ch;
}

.td-kategorie{
    width: 15ch;
}

.td-preis{
    width: 10ch;
}

.td-beschreibung{
    width: 150px;
}

.td-optionen{
    width: 70px;
}

.loading{
    vertical-align: middle;
    text-align: center;
}

#previous-month, #next-month{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#input .td{
    position: relative;
}

.error:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFD036 transparent transparent transparent;
    top: 29px;
    left: 15px;
}


