/* css reset*/
/* for buttons */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* removes spinner buttons */ 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


html, body{
    height: 100%;
    margin: 0;
    font-size: 16px;
}

#spacertop{
    height: 35%;
}

input{
    border-radius: 0;
}

header{
    overflow: auto;
}

/* fix for FF Android background for inputs */
button, input, select {
    background-image: none;
}

#load{
    font-family: 'nsvb-symbol';
}

.login-input{
    font-size: 16px;
    border: none;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 2px;
}

.login-label{
    padding: 5px;
}

#logincontainer{
    background-color: #4bb1ff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#login{
    margin: 0 auto;
    font-family: sans-serif;
}

#loginformcontainer{
    margin-left: 25px;
    margin-right: 25px;
}

#loginbutton{
    background-color: white;
    border: 2px solid #3388ff;
    padding: 5px 10px;
    cursor: pointer;
    color: #114480;
    font-size: 16px;
    border-radius: 3px;
}

#loginbutton:hover{
    background-color:#3388ff;
    color: white;
    border: 2px solid #0066ff;
}

#submitBtn, #submitBtn:hover{
    border: none;
    background: none;
    color: #114480;
    font-size: 16px;
    cursor: pointer;
}

.bar{
    background-color: #4bb1ff;   
    padding: 5px;
}

.bar-element{
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
    min-width: 30px;
    text-align: center;
    border: 1px solid #666666;
}

.bar-element:last-child{
    margin-right: 0;
}

.bar-element:hover{
    cursor: pointer;
}

#month{
    width: 15ch;
}

#spendings{
    position: relative;
}

#month-overview{
    position:absolute;
    top:-1px;
    right:-1px;
    width:250px;
    height:500px;
    background-color:white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #666666;
    overflow-y: scroll;
    cursor: auto;
    text-align: left;
    animation: open 1s;
    -webkit-animation: open 1s;
}

@-webkit-keyframes open{
    0% {
        width: 60px;
        height: 120px;
        opacity: 0;
    }
    100% {
        width:250px;
        height:500px;
        opacity: 1;    
    }
}

@keyframes open{
    0% {
        width: 60px;
        height: 120px;
        opacity: 0;
    }
    100% {
        width:250px;
        height:500px;
        opacity: 1;    
    }

}

.error-login{
    background-color: #FF6964;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.new{
    animation: fadeout 3s;
}

@keyframes fadeout{
    0% {background-color: green;}
    33% {background-color: green;}
    100% {background-color: none}
}

.remove, .edit, .cancel, .update{
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;/* remove? */
}
.change{
    display: inline-block;
    border: 1px solid transparent;/* remove? */
}
.edit{
    display: none;
}

.update:hover{
    color: #74D400;
}

.remove:hover, .cancel:hover{
    color: #D40000;
}

.edit:hover{
    color: #4BB1FF;
}


content{
    border: 0 none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

#content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header{
    flex-shrink: 0;
}

#section-ausgabe{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
}

#ausgaben{
    overflow-y: auto;
    flex-grow: 1;
}
#ausgabenliste{

}

.ausgabe{
    -webkit-transition: height 2s ease;
    transition: max-height  2s ease;
    max-height: 50px;
}

.remove-animation{
    max-height: 0;
    overflow-y: hidden;
}

#einnahmen{

}
.clear{
    clear: both;
}
.error{
    position: absolute;
    background-color: #FFD036;
    bottom: 40px;
    text-align: center;
    padding: 5px;
}
.remove{
    cursor: pointer;
}

.table {
    display:table;
    width: 100%;
    table-layout: fixed;
}
.tr {
    display:table-row;
}
.td {
    display:table-cell;
    vertical-align: top;
    border-top: 1px solid darkgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.td textarea{
    height: 1.2em;
    margin: 0;
    padding: 1px 0;
}
.td textarea, .td input{
    border: none;
    width: 100%;
}

.td input.preis{
    width: 80%;
}
.th{
    font-weight: bold;
}
.th .td{
    border-bottom: 1px solid darkgray;
}
.tr:first-child{
    border: none;
}
.preis{
    text-align: right;
}
.plus{
    cursor: pointer;
}

.plus:hover{
    color: #4bb1ff;
}

#plusbutton{
    background: transparent none repeat scroll 0px 0px;
    border-spacing: 0px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: outside none none;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    margin: 0px;
    padding: 0px;
    border: medium none;
}

.td-datum{
    width: 10ch;
}

.td-kategorie{
    width: 7ch;
}

.td-preis{
    width: 7ch;
}

.td-beschreibung{
    width: 0;
    display: none;
}

.td-optionen{
    width: 30px;
}

.loading{
    vertical-align: middle;
    text-align: center;
}

#previous-month, #next-month{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#input .td{
    position: relative;
}

.error:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFD036 transparent transparent transparent;
    top: 29px;
    left: 15px;
}

#overlay{
    display: none;
    background-color: #4BB1FF;
    min-height: 100%;/* TODO: optimize, maybe scroll select list */
}

#overlay-close{
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    border: 1px solid #666666;    
    min-width: 20px;
}

#overlay-close:hover{
    cursor: pointer;
}

#overlay-content{
    padding: 0 5px 5px 5px;
}

#select{
    display: none;
}

#details:hover{
    text-decoration: underline;
    cursor: pointer;
}

#stats-wrapper{
    /*display: table;*/ /*table doesn't resize smaller*/
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    clear: right;
}

#details{
    float: right;
}  

.chart{
    width: 100%;
    height: 500px;
}

#empty{
    color: lightgray;
}

.vert-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.text-center{
    text-align: center;
}

.preload-symbol{
    font-family: 'nsvb-symbol';
}

@media (min-width:400px) {
    #login{
        max-width: 360px;
    }

    .td-kategorie{
        width: 10ch;
    }
}

@media (min-width:600px) {
    .edit{
        display: inline-block;
    }

    .td-optionen{
        width: 50px;
    }
}

@media (min-width:700px) {
    body{
        min-width: 700px;
    }

    .td-beschreibung{
        width: 150px;
        display: table-cell;
    }

    .td-kategorie{
        width: 15ch;
    }

    .td-preis{
        width: 10ch;
    }

    #month{
        width: 20ch;
    }

    #select-mobile{
        display: none;
    }

    #select{
        display: block;
        width: 201px;
        margin: 10px 0;
        /*margin-right: 20px;*/
    }

    .select-element{
        padding: 10px;
        border: 1px solid transparent;
        border-right: none;
    }

    .select-element:hover{
        cursor: pointer;
        border: 1px solid #666666;
        border-right: none;
        border-radius: 5px 0 0 5px;
        background-color: #4BB1FF;
    }

    .select-element.year{
        text-decoration: underline;
        font-weight: bold;
    }

    .select-element.active{
        /*background-color: #4BB1FF;*/
        border: 1px solid #666666;
        border-right: none;
        border-radius: 5px 0 0 5px;
        background-color: white;
    }

    #stats-wrapper{
        display: block;
        margin-left: 200px;
        padding: 10px 15px;
        width: auto; 
    }

}
